.contacts {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-right: 34px;
	padding-left: 100px;
	max-width: 970px;
	color: $color-white;

	&__heading {
		position: absolute;
		left: -48px;
		top: 9px;
		border-right: 1px solid rgba($color-white, 0.3);
		height: 162px;
		font-family: $font-avenir;
		font-weight: 600;
		font-size: 11px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-white;

		span {
			display: block;
			margin-top: 30px;
			white-space: nowrap;
			transform: rotate(-90deg) translateY(14px);
			transform-origin: 50% 52%;
		}
	}

	&__col {
		flex: none;

		&--left {
			width: 369 / 836 * 100%;
		}

		&--right {
			width: 335 / 836 * 100%;
		}
	}

	&__item {
		&:not(:first-child) {
			margin-top: 36px;
		}

		&:last-child {
			margin-top: 29px;
		}
	}

	&__title {
		font-family: $font-notoserif;
		font-style: italic;
		font-size: 13px;
		line-height: 2em;
		color: $color-white;
	}

	&__text {
		margin-top: 3px;
		font-family: $font-avenir;
		font-weight: 500;
		font-size: 30px;
		line-height: 1.33em;

		a {
			display: inline-block;
			border-bottom: 1px dashed rgba($color-white, 0.5);
			line-height: 1.4em;
			text-decoration: none;
			color: $color-white;
			transition: border-color 0.2 ease;

			.is-device-desktop &:hover {
				border-color: transparent;
			}
		}

		&.no-underline {
			a {
				border: none;
				transition: color 0.2s ease;

				.is-device-desktop &:hover {
					color: rgba($color-white, 0.8);
				}
			}
		}
	}

	&__btn {
		display: inline-block;
		margin-top: 29px;
		border: none;
		padding: 17px 39px 19px;
		box-shadow: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.25em;
		text-decoration: none;
		color: $color-codgray;
		background-color: $color-btn;
		transition: background-color 0.2s ease;

		.is-device-desktop &:hover {
			background-color: #edce6a;
		}
	}
}
