.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 42px 24px 40px;
	color: $color-white;
	background-color: #444c4d;

	&__copyright {
		font-family: $font-notoserif;
		font-style: italic;
		font-size: 13px;
		line-height: 1.54em;
	}

	&__info {
		font-family: $font-notoserif;
		font-style: italic;
		font-size: 13px;
		line-height: 1.54em;
	}
}
