.header {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 5;
	display: flex;
	align-items: center;
	padding-top: 39px;
	padding-right: 127px;
	color: $color-white;

	&__logo {
		width: 161.6px;
		height: 43.9px;
	}

	&__info {
		margin-left: auto;
	}

	&__phone {
		margin-bottom: 3px;
		font-family: $font-avenir;
		font-weight: 500;
		font-size: 20px;
		text-align: right;
		color: $color-white;
	}

	&__time {
		font-family: $font-notoserif;
		font-style: italic;
		font-size: 13px;
		text-align: right;
	}
}
