.heading {
	position: relative;
	margin: auto;
	max-width: 976px;

	&__title {
		max-width: 595px;
		font-weight: 500;
		font-size: 40px;
		line-height: 1.25em;
		color: $color-codgray;
	}

	&__desc {
		margin-top: 37px;
		max-width: 425px;
		font-size: 20px;
		line-height: 1.5em;
		color: $color-codgray;
	}

	&__sub {
		margin-top: 28px;
		font-weight: 600;
		font-size: 11px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-codgray;
		transform: rotate(-90deg) translateY(-100%);
		transform-origin: 50% 52%;

		.section--second & {
			margin-top: 35px;
			transform: rotate(-90deg) translateY(-130%);
		}

		.section--third & {
			margin-top: 28px;
		}
	}

	&__column {
		position: absolute;
		right: 62px;
		top: 9px;
		bottom: 9px;
		border-left: 1px solid #adccc7;

		.section--second & {
			right: 46px;
			bottom: auto;
			border-color: #dedcb1;
			height: 146px;
		}

		.section--third & {
			bottom: auto;
			height: 156px;
		}
	}

	&.is-margined {
		margin-bottom: 152px;

		.heading__desc {
			margin-top: 30px;
		}
	}
}
