.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	background: url("../images/bg.jpg") center no-repeat;
	background-size: cover;
	background-attachment: fixed;

	&__content {
		flex: none;
		margin: auto;
		max-width: 896px;
		color: $color-white;
	}

	&__subtitle {
		margin-top: -20px;
		margin-bottom: 28px;
		margin-left: 7px;
		font-family: $font-avenir;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.67em;
		color: $color-white;
	}

	&__title {
		font-family: $font-pf-din;
		font-weight: 500;
		font-size: 132px;
		line-height: 0.7em;
		letter-spacing: 35px;
		text-align: center;
		text-transform: uppercase;
		color: $color-white;
	}

	&__button {
		display: inline-block;
		margin-top: 70px;
		margin-left: 7px;
		border: none;
		padding: 17px 31px 19px 32px;
		box-shadow: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.25em;
		text-decoration: none;
		color: $color-codgray;
		background-color: $color-btn;
		transition: background-color 0.2s ease;

		.is-device-desktop &:hover {
			background-color: #edce6a;
		}
	}

	.is-browser-ie & {
		display: block;
		padding-top: 207 / 720 * 100vh;
		background-attachment: scroll;
	}

	@include retina {
		background-image: url("../images/bg@2x.jpg");
	}

	@media (min-width: 1230px) {
		background-image: url("../images/bg@2x.jpg");
	}
}

.hero-more {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	border: none;
	padding: 24px 40px 27px;
	width: 49%;
	box-shadow: none;
	font-family: $font-notoserif;
	font-style: italic;
	font-size: 13px;
	text-decoration: none;
	color: #262626;
	background-color: $color-accent1;

	&__icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		margin-right: 19px;
		width: 36px;
		height: 36px;

		&::before {
			content: "";
			display: block;
			flex: none;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			background-color: #262626;
			transition: transform 0.4s ease;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			border: 2px solid #adccc7;
			border-radius: 50%;
			width: 100%;
			height: 100%;
			transition: transform 0.4s ease;
		}
	}

	.is-device-desktop &:hover {
		.hero-more__icon {
			&::before {
				transform: scale(1.3);
			}

			&::after {
				transform: scale(0.8);
			}
		}
	}
}
