.tabs {
	margin: 90px auto 0;
	max-width: 970px;

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 42px;
		padding-right: 22px;
	}

	&__btn {
		position: relative;
		font-weight: 500;
		font-size: 20px;
		line-height: 2.5em;
		text-decoration: none;
		color: $color-codgray;
		transition: color 0.2s ease;

		&::after {
			content: attr(data-sup);
			position: absolute;
			left: calc(100% + 5px);
			top: 0;
			font-family: $font-notoserif;
			font-style: italic;
			font-size: 13px;
			line-height: 1.38em;
			color: #aba980;
		}

		.is-device-desktop &:hover {
			color: #aba980;
		}

		&.is-current {
			color: #aba980;
		}
	}
}

.products-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.product {
	position: relative;
	display: block;
	flex: none;
	margin-right: -1px;
	margin-bottom: -1px;
	border: 1px solid #e6e4be;
	padding: 21px 40px 34px;
	width: 33.3333%;
	height: 399px;
	font-family: $font-avenir;
	text-decoration: none;
	color: $color-codgray;
	transition: background-color 0.2s ease;

	&__type {
		margin-bottom: 23px;
		font-family: $font-notoserif;
		font-style: italic;
		font-size: 13px;
		line-height: 1.85em;
		color: #aba980;
	}

	&__name {
		margin-top: 31px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5em;
		color: #262626;
	}

	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		width: 100%;
		height: 242px;

		img {
			display: block;
			flex: none;
		}
	}

	&__info {
		position: absolute;
		right: 32px;
		bottom: 32px;
		width: 30px;
		height: 30px;

		svg {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.is-device-desktop &:hover {
		background-color: #fffcdf;
	}
}
