.section {
	&__bg {
		margin-bottom: 125px;
		width: 100%;
	}

	&--first {
		position: relative;
		z-index: 2;
		margin-bottom: -154px;
		padding-top: 121px;
	}

	&--second {
		padding-top: 294px;
		padding-bottom: 224px;
		background-color: $color-accent2;
	}

	&--third {
		position: relative;
		margin-bottom: -188px;
		padding-top: 121px;
	}

	&--contacts {
		padding: 327px 0 90px;
		background-color: #444c4d;
	}
}

.quote {
	position: relative;
	margin: auto;
	max-width: 717px;
	font-family: $font-avenir;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.42em;
	text-align: center;
	color: $color-codgray;

	&__icon {
		margin: 0 auto 37px;
		width: 30px;
		height: 19px;

		svg {
			display: block;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__square {
		margin: 0 auto 34px;
		width: 24px;
		height: 24px;
		background-color: $color-codgray;
	}

	&__author {
		margin-top: 30px;
		font-family: $font-notoserif;
		font-style: italic;
		font-size: 13px;
		line-height: 1.92em;
		text-align: center;
		color: $color-codgray;
	}

	&__sub {
		position: absolute;
		right: calc(100% + 98px);
		top: 0;
		border-right: 1px solid #adccc7;
		height: 156px;
		font-family: $font-avenir;
		font-weight: 600;
		font-size: 11px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-codgray;

		span {
			display: block;
			margin-top: 12px;
			white-space: nowrap;
			transform: rotate(-90deg) translateY(8px);
			transform-origin: 50% 52%;
		}
	}
}
