.sidemenu {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 38px 58px 31px;
	width: 370px;
	background-color: $color-white;
	transform: translateX(370px);

	&__toggle {
		position: absolute;
		right: calc(100% + 40px);
		top: 39px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		width: 48px;
		height: 49px;
		box-shadow: none;
		background-color: $color-white;

		svg {
			display: block;
			flex: none;
			max-width: 24px;
			max-height: 24px;
			transition: opacity 0.2s ease;
		}

		.close {
			display: none;
		}

		.is-device-desktop &:hover {
			svg {
				opacity: 0.7;
			}
		}

		.sidemenu.is-opened & {
			.close {
				display: block;
			}

			.open {
				display: none;
			}
		}
	}

	&__nav {
		a {
			display: block;
			font-family: $font-avenir;
			font-weight: 500;
			font-size: 24px;
			line-height: 2.1em;
			text-decoration: none;
			color: #262626;

			.is-device-desktop &:hover {
				color: #999;
			}

			&.is-current {
				color: #999;
			}
		}
	}

	&__bottom {
		margin-top: auto;
	}

	&__lang {
		position: absolute;
		right: 14px;
		top: 53px;
		display: block;
		font-family: $font-avenir;
		font-weight: 500;
		font-size: 11px;
		line-height: 2.82em;
		letter-spacing: 2px;
		text-decoration: none;
		text-transform: uppercase;
		color: #262626;
		transform: rotate(-90deg);
	}

	&__phone {
		margin-bottom: 3px;
		font-family: $font-avenir;
		font-weight: 500;
		font-size: 20px;
		color: #262626;
	}

	&__time {
		font-family: $font-notoserif;
		font-style: italic;
		font-size: 13px;
		color: #262626;
	}

	&__button {
		display: inline-block;
		margin-top: 26px;
		border: none;
		padding: 17px 36px 19px 32px;
		box-shadow: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.25em;
		text-decoration: none;
		color: $color-codgray;
		background-color: $color-btn;
		transition: background-color 0.2s ease;

		.is-device-desktop &:hover {
			background-color: #edce6a;
		}
	}
}
