.sound-sliderblock {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 111px 0 115px;
	max-width: 1100px;

	&__col {
		margin-top: -20px;
		width: 100%;
	}

	&__dateblock {
		position: relative;
		overflow: hidden;
		margin-bottom: 49px;
		margin-left: -10px;
		width: 100%;
		height: 140px;
		font-family: $font-pf-din;
		font-weight: 500;
		font-size: 200px;
		line-height: 1em;
		color: $color-white;

		.shim {
			position: absolute;
			left: -50%;
			top: 0;
			width: 300%;
			height: 200%;
			background-color: $color-accent1;
			transform: translateY(100%);
		}
	}

	&__row {
		display: flex;
	}

	&__textblock {
		position: relative;
		margin-top: -6px;
		margin-left: 35px;
		width: 100%;
		height: 125px;
		font-family: $font-notoserif;
		font-style: italic;
		font-size: 13px;
		line-height: 1.92em;
		color: $color-codgray;
	}

	&__text {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

	&__panel {
		flex: none;
		width: 100px;
		height: 100%;
	}

	&__slider {
		display: flex;
		flex: none;
		align-items: center;
		justify-content: center;
		margin-right: 100px;
		width: 530px;
		height: 282px;

		.image-slider {
			position: relative;
			overflow: hidden;
			margin-right: 0;
			margin-left: auto;
			width: 400px;
			height: 100%;

			.shim {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				background-color: $color-accent1;
				transform: translateX(-100%);
			}

			img {
				position: absolute;
				left: 0;
				top: 0;
				pointer-events: none;
			}
		}
	}
}

.car-sliderblock {
	margin: 60px 0 208px;

	&__nav {
		display: flex;
		justify-content: center;

		button {
			margin: 0 15px;
			outline: none;
			border: none;
			box-shadow: none;
			font-family: $font-avenir;
			font-weight: 500;
			font-size: 20px;
			line-height: 2.5em;
			color: $color-codgray;
			background-color: transparent;
			transition: color 0.15s ease-in-out;

			.is-device-desktop &:hover {
				color: #7a9994;
			}

			&.is-current {
				color: #7a9994;
			}
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-top: 61px;
		max-width: 1088px;
	}

	&__content {
		width: 100%;
	}

	&__logoblock {
		margin-bottom: 25px;
		width: 100%;
	}

	&__logo {
		width: 91px;
	}

	&__textblock {
		width: 100%;
	}

	&__text {
		font-family: $font-notoserif;
		font-style: italic;
		font-size: 13px;
		line-height: 1.92em;
		color: #262626;
	}

	&__controls {
		position: absolute;
		right: 0;
		bottom: -88px;
	}

	&__panel {
		flex: none;
		width: 100px;
		height: 100%;
	}

	&__slider {
		position: relative;
		display: flex;
		flex: none;
		align-items: center;
		justify-content: center;
		margin-right: 86px;
		width: 711px;
		height: 377px;

		.image-slider {
			position: relative;
			overflow: hidden;
			margin-right: 0;
			margin-left: auto;
			width: 581px;
			height: 100%;

			.shim {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				background-color: $color-accent1;
				transform: translateX(-100%);
			}

			img {
				position: absolute;
				left: 0;
				top: 0;
				pointer-events: none;
			}
		}
	}
}

.big-slider {
	margin: 95px auto 0;
	height: 560px;
	max-width: 970px;

	&__nav {
		position: relative;
		z-index: 3;
		margin-top: -22px;
	}

	&__imageblock {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;

		.shim {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			background-color: $color-accent1;
			transform: translateX(-100%);
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			pointer-events: none;
		}
	}
}

.slider-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: 50px;
	height: 50px;
	box-shadow: none;
	background-color: $color-codgray;
	transition: background-color 0.2s ease;

	svg {
		flex: none;
		max-width: 24px;
		max-height: 24px;
		fill: $color-white;
	}

	.is-device-desktop &:hover {
		background-color: #3b3b3b;
	}
}

.slider-pager {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 96px;
	height: 50px;
	font-family: $font-notoserif;
	font-style: italic;
	font-size: 13px;
	line-height: 1.92em;
	color: $color-white;
	background-color: $color-codgray;
}
