.social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -14px 0 -19px;

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 14px;
		border: none;
		border-radius: 50%;
		width: 36px;
		height: 36px;
		background-color: #363f40;

		svg {
			display: block;
			flex: none;
			max-width: 24px;
			max-height: 24px;
			fill: $color-white;
			transition: opacity 0.15s ease;
		}

		.is-device-desktop &:hover {
			svg {
				opacity: 0.7;
			}
		}
	}
}
