.big-video {
	position: relative;
	margin: 133px auto 0;
	height: 460px;
	max-width: 770px;
	background: url("../images/video-thumb.jpg") center no-repeat;
	background-size: cover;

	&__desc {
		position: absolute;
		right: calc(100% + 71px);
		top: 0;
		border-right: 1px solid #adccc7;
		height: 256px;
		font-family: $font-avenir;
		font-weight: 600;
		font-size: 11px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-codgray;

		span {
			display: block;
			margin-top: 77px;
			white-space: nowrap;
			transform: rotate(-90deg) translateY(60px);
			transform-origin: 50% 52%;
		}
	}

	&__btn {
		position: absolute;
		left: 40px;
		top: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		border-radius: 50%;
		width: 72px;
		height: 72px;
		box-shadow: none;
		background-color: $color-btn;
		transition: background-color 0.2s ease;

		svg {
			display: block;
			flex: none;
			max-width: 24px;
			max-height: 24px;
			fill: $color-codgray;
		}

		.is-device-desktop &:hover {
			background-color: #edce6a;
		}

		.is-inited & {
			display: none;
		}
	}
}

.sidevideo {
	position: absolute;
	right: 0;
	top: -84px;
	z-index: 2;
	width: 530px;
	height: 320px;
	background: url("../images/video-thumb.jpg") center no-repeat;
	background-size: cover;

	&__btn {
		position: absolute;
		left: 40px;
		bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		border-radius: 50%;
		width: 72px;
		height: 72px;
		box-shadow: none;
		background-color: $color-btn;
		transition: background-color 0.2s ease;

		svg {
			display: block;
			flex: none;
			max-width: 24px;
			max-height: 24px;
			fill: $color-codgray;
		}

		.is-device-desktop &:hover {
			background-color: #edce6a;
		}

		.is-inited & {
			display: none;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		padding-right: 39px;
		font-family: $font-notoserif;
		font-style: italic;
		font-size: 13px;
		line-height: 1.77em;
		color: $color-codgray;
	}

	&__desc {
		max-width: 250px;
	}

	&__time {
		margin-left: auto;
	}
}

.video {
	width: 100%;
	height: 100%;

	iframe {
		width: 100%;
		height: 100%;
		background-color: $color-black;
	}
}
