footer.footer
	.footer__copyright © 2018 Шоурум Burmester в Москве
	.social
		a.social__link(href=""): +svg("facebook")
		a.social__link(href=""): +svg("instagram")
	.footer__info Дизайн и разработка — Greencow
