.hero.js-anchor#main
	.hero__content
		.hero__subtitle Московский шоурум аудиосистем
		.hero__title Burmester
		button.hero__button(href="") Записаться на прослушивание

	button.hero-more(href="")
		.hero-more__icon
			.inner-circle
		.hero-more__text Познакомиться с брендом
