.section.section--first
	.heading.js-anchor#about
		.heading__title Burmester производят аудиосистемы класса high-end с 1977 года
		.heading__desc Аудиосистемы Burmester объединяют превосходный звук, ручное производство и стильный дизайн.
		.heading__column
			.heading__sub о бренде

	.sound-sliderblock
		.sound-sliderblock__slider
			.sound-sliderblock__panel
			.image-slider
				.shim
				img(src="assets/images/slider1_1.jpg" alt="" data-slide="1")
				img.is-hidden(src="assets/images/slider1_1.jpg" alt="" data-slide="2")
				img.is-hidden(src="assets/images/slider1_1.jpg" alt="" data-slide="3")
		.sound-sliderblock__col
			.sound-sliderblock__dateblock
				.shim
				.sound-sliderblock__date(data-slide="1") 2016
				.sound-sliderblock__date.is-hidden(data-slide="2") 2017
				.sound-sliderblock__date.is-hidden(data-slide="3") 2018
			.sound-sliderblock__row
				.sound-sliderblock__nav
					.slider-nav
						button.slider-btn.slider-btn--prev: +svg("arrow-left")
						button.slider-btn.slider-btn--next: +svg("arrow-right")
				.sound-sliderblock__textblock
					.sound-sliderblock__text(data-slide="1")
						| Porsche и Burmester: 3D-Sound празднует свою премьеру в Porsche. Оснащенный новой 3D High-End Surround Sound-System, Porsche Panamera теперь предлагает совершенно новый импульс  акустического восторга.
					.sound-sliderblock__text.is-hidden(data-slide="2")
						| Porsche и Burmester: 3D-Sound празднует свою премьеру в Porsche. Оснащенный новой 3D High-End Surround Sound-System, Porsche Panamera теперь предлагает совершенно новый импульс  акустического восторга.
					.sound-sliderblock__text.is-hidden(data-slide="3")
						| Porsche и Burmester: 3D-Sound празднует свою премьеру в Porsche. Оснащенный новой 3D High-End Surround Sound-System, Porsche Panamera теперь предлагает совершенно новый импульс  акустического восторга.

	.quote
		.quote__icon
			+svg("quotes")
		.quote__text
			| Когда человек закрывает глаза, слушает #[br] музыку и&nbsp;ничто его не&nbsp;отвлекает, тогда мы&nbsp;понимаем,#[br] что проделали отличную работу
		.quote__author
			| Дитер Бурместер

	.big-video.js-anchor#showroom
		.big-video__desc
			span Московский шоурум
		button.big-video__btn.js-video-button
			+svg("play")
		.video
			.video__thumb
