.section.section--contacts.js-anchor#contacts
	.contacts
		.contacts__heading
			span Контакты

		.contacts__col.contacts__col--left
			.contacts__item
				.contacts__title Наш шоурум находится по адресу
				.contacts__text
					a(href="") Мичуринский проспект 7
			.contacts__item
				.contacts__title Звоните ежедневно 10 — 19
				.contacts__text +7 495 927 0194
			.contacts__item
				.contacts__title Официальный сайт производителя
				.contacts__text.no-underline
					a(href="") burmester.de

		.contacts__col.contacts__col--right
			.contacts__title Оставьте свои контактные данные, наш менеджер свяжется с Вами и подберет удобное для Вас время посещения.

			button.contacts__btn Оставить заявку
