.section.section--second
	img.section__bg(
		src="/assets/images/trans-bg.png"
		srcset="/assets/images/trans-bg@2x.png 2x, /assets/images/trans-bg.png 1x,"
		alt=""
	)

	.heading.js-anchor#catalog
		.heading__title Сделано для музыки, решения, которые выбирают ценители чистого звука
		.heading__desc Мы представляем аудиосистемы Burmester для дома и профессиональных студий.
		.heading__column
			.heading__sub продукция

	.tabs
		.tabs__nav
			a.tabs__btn.is-current(href="" data-tab="1" data-sup="12") Популярное
			a.tabs__btn(href="" data-tab="2" data-sup="9") Reference Line
			a.tabs__btn(href="" data-tab="3" data-sup="10") Top Line
			a.tabs__btn(href="" data-tab="4" data-sup="6") Classic Line
			a.tabs__btn(href="" data-tab="5" data-sup="8") Phase 3
			a.tabs__btn(href="" data-tab="6" data-sup="30") Компоненты

		.tabs__container
			.tab(data-tab="1")
				.products-list
					a.product(href="")
						.product__type Loudspeaker
						.product__image
							img(src="/assets/images/prod1.png" alt="")
						.product__name B10 Loudspeaker
						.product__info: +svg("info")
					a.product(href="")
						.product__type Loudspeaker
						.product__image
							img(src="/assets/images/prod2.png" alt="")
						.product__name 961 MK3 Loudspeaker
						.product__info: +svg("info")
					a.product(href="")
						.product__type Loudspeaker
						.product__image
							img(src="/assets/images/prod3.png" alt="")
						.product__name B18 Loudspeaker
						.product__info: +svg("info")
					a.product(href="")
						.product__type Reference Line
						.product__image
							img(src="/assets/images/prod4.png" alt="")
						.product__name 909 MK5 Power Amplifier
						.product__info: +svg("info")
					a.product(href="")
						.product__type Reference Line
						.product__image
							img(src="/assets/images/prod5.png" alt="")
						.product__name 948 Power Conditioner
						.product__info: +svg("info")
					a.product(href="")
						.product__type Reference Line
						.product__image
							img(src="/assets/images/prod6.png" alt="")
						.product__name 111 Musiccenter
						.product__info: +svg("info")
					a.product(href="")
						.product__type Loudspeaker
						.product__image
							img(src="/assets/images/prod7.png" alt="")
						.product__name B80 MK2 Loudspeaker
						.product__info: +svg("info")
					a.product(href="")
						.product__type Loudspeaker
						.product__image
							img(src="/assets/images/prod8.png" alt="")
						.product__name BA31 Loudspeaker
						.product__info: +svg("info")
					a.product(href="")
						.product__type Loudspeaker
						.product__image
							img(src="/assets/images/prod9.png" alt="")
						.product__name S8 Subwoofer
						.product__info: +svg("info")
					a.product(href="")
						.product__type Loudspeaker
						.product__image
							img(src="/assets/images/prod10.png" alt="")
						.product__name 069 CD Player
						.product__info: +svg("info")
					a.product(href="")
						.product__type Loudspeaker
						.product__image
							img(src="/assets/images/prod11.png" alt="")
						.product__name 808 MK5 Preamplifier
						.product__info: +svg("info")
					a.product(href="")
						.product__type Loudspeaker
						.product__image
							img(src="/assets/images/prod12.png" alt="")
						.product__name 077 Preamplifier
						.product__info: +svg("info")
