.section.section--third
	.sidevideo
		button.sidevideo__btn.js-video-button
			+svg("play")
		.video
			.video__thumb

		.sidevideo__row
			.sidevideo__desc Сотрудники шоурума рассказывают о том, как мы работаем.
			.sidevideo__time 2:43

	.heading.is-margined.js-anchor#specs
		.heading__title Создадим идеальную аудиосистему для Вас
		.heading__desc Наши консультанты обучались на заводе Burmester в Берлине и точно знают, что нужно именно Вам.

	.heading
		.heading__title Производители авто премиум-класса выбирают аудиосистемы Burmester
		.heading__desc Аудиосистемы Burmester объединяют превосходный звук, ручное производство и стильный дизайн.
		.heading__column
			.heading__sub автозвук

	.car-sliderblock
		.car-sliderblock__nav
			button.is-current(data-slide="1") Porsche
			button(data-slide="2") Maybach
			button(data-slide="3") Mercedes
			button(data-slide="4") Bugatti

		.car-sliderblock__row
			.car-sliderblock__slider
				.car-sliderblock__panel
				.image-slider
					.shim
					img(src="assets/images/slider2_1.jpg" alt="" data-slide="1")
					img.is-hidden(src="assets/images/slider2_2.jpg" alt="" data-slide="2")
					img.is-hidden(src="assets/images/slider2_3.jpg" alt="" data-slide="3")
					img.is-hidden(src="assets/images/slider2_4.jpg" alt="" data-slide="4")

				.car-sliderblock__controls
					.slider-nav
						button.slider-btn.slider-btn--prev: +svg("arrow-left")
						.slider-pager
						button.slider-btn.slider-btn--next: +svg("arrow-right")

			.car-sliderblock__content
				.car-sliderblock__logoblock
					.car-sliderblock__logo(data-slide="1")
						img(src="/assets/images/slider-logo1.png" alt="")
					.car-sliderblock__logo.is-hidden(data-slide="2")
						img(src="/assets/images/slider-logo2.png" alt="")
					.car-sliderblock__logo.is-hidden(data-slide="3")
						img(src="/assets/images/slider-logo3.png" alt="")
					.car-sliderblock__logo.is-hidden(data-slide="4")
						img(src="/assets/images/slider-logo4.png" alt="")
				.car-sliderblock__textblock
					.car-sliderblock__text(data-slide="1")
						| Porsche и Burmester: 3D-Sound празднует свою премьеру в Porsche. Оснащенный новой 3D High-End Surround Sound-System, Porsche Panamera теперь предлагает  новый импульс  акустического восторга.
					.car-sliderblock__text.is-hidden(data-slide="2")
						| Mercedes-Maybach and Burmester: with the Burmester High-End Surround Sound System and the Burmester Surround Sound System, the most exclusive sound is finding its way into the Mercedes-Maybach S Class.
					.car-sliderblock__text.is-hidden(data-slide="3")
						| Mercedes-Benz and Burmester: Surround Sound System and High-End 3D Surround Sound system – 3D sound for the first time ever in a luxury limousine! Today the Burmester surround sound system is also available as an option in the C-class and V-class.
					.car-sliderblock__text.is-hidden(data-slide="4")
						| Bugatti and Burmester: entering the automotive business segment with a high-end sound system for the Bugatti 16.4 Veyron as the world's first series high-end sound system in an automobile!

	.quote
		.quote__square
		.quote__text
			| В&nbsp;своем шоуруме мы&nbsp;организовали для Вас #[br] атмосферу полного погружения в&nbsp;пространственное #[br] звучание аудиосистем Burmester
		.quote__sub
			span Шоурум

	.big-slider
		.big-slider__imageblock
			.shim
			img(src="/assets/images/slider3_1.jpg" alt="" data-slide="1")
			img.is-hidden(src="/assets/images/slider3_2.jpg" alt="" data-slide="2")
			img.is-hidden(src="/assets/images/slider3_3.jpg" alt="" data-slide="3")

		.big-slider__nav
			.slider-nav
				button.slider-btn.slider-btn--prev: +svg("arrow-left")
				.slider-pager
				button.slider-btn.slider-btn--next: +svg("arrow-right")
