.sidemenu
	button.sidemenu__toggle
		+svg("menu").open
		+svg("cross").close

	.sidemenu__nav
		a.is-current(href="#main") Главная
		a(href="#about") О бренде
		a(href="#showroom") Шоурум
		a(href="#catalog") Каталог
		a(href="#specs") Специалисты
		a(href="#contacts") Контакты

	.sidemenu__bottom
		.sidemenu__phone +7 495 927 0194
		.sidemenu__time Шоурум: ежедневно 10 — 19
		button.sidemenu__button Оставить заявку

	a.sidemenu__lang(href="") English
