include pug/mixins/svg

doctype html
html
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width")
		meta(name="description" content="desc")
		title Test Page
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400i&amp;subset=cyrillic")
		link(rel="stylesheet" href="/assets/css/main.css?v=" + Date.now())

	body
		include pug/partials/sidemenu

		.page
			include pug/partials/header

			include pug/partials/hero
			include pug/partials/section1
			include pug/partials/section2
			include pug/partials/section3
			include pug/partials/section-contacts

			include pug/partials/footer

		script(src="/assets/js/vendor.js?v=" + Date.now())
		script(src="/assets/js/main.js?v=" + Date.now())
