*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: $font-avenir;
}

input,
textarea,
button {
	font-family: $font-avenir;
}

.page {
	background-color: $color-accent1;
}

.is-hidden {
	display: none !important; //stylelint-disable-line
}
