// stylelint-disable no-empty-source

@font-face {
	src: url("../fonts/PFDinTextCondPro-Light.woff2") format("woff2"), url("../fonts/PFDinTextCondPro-Light.woff") format("woff");
	font-family: "PF Din Text Cond Pro";
	font-weight: 100;
	font-style: normal;
}

@font-face {
	src: url("../fonts/PFDinTextCondPro-Regular.woff2") format("woff2"), url("../fonts/PFDinTextCondPro-Regular.woff") format("woff");
	font-family: "PF Din Text Cond Pro";
	font-weight: 300;
	font-style: normal;
}

@font-face {
	src: url("../fonts/PFDinTextCondPro-Medium.woff2") format("woff2"), url("../fonts/PFDinTextCondPro-Medium.woff") format("woff");
	font-family: "PF Din Text Cond Pro";
	font-weight: 500;
	font-style: normal;
}

@font-face {
	src: url("../fonts/PFDinTextCondPro-Bold.woff2") format("woff2"), url("../fonts/PFDinTextCondPro-Bold.woff") format("woff");
	font-family: "PF Din Text Cond Pro";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
	font-family: "AvenirNext";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("../fonts/AvenirNextCyr-Medium.woff") format("woff");
	font-family: "AvenirNext";
	font-weight: 500;
	font-style: normal;
}

