// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

$color-accent1: #d3e8e5;
$color-accent2: #f7f5d2;

$color-codgray: #1a1a1a;
$color-btn: #f5db87;

// FONTS
$font-pf-din: "PF Din Text Cond Pro", sans-serif;
$font-avenir: "AvenirNext", sans-serif;
$font-notoserif: "Noto Serif", serif;
